.vanta-canvas {
    min-height: 100%;
    height: 100%;
}

.title-text {
    padding-top: 5%;
    font-size: 6.18vw;
    min-font-size: 40px;
}

.padding-box {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 25%;
}

.clock-box {
    padding-top: 2%;
    font-size: 5vw;
    min-font-size: 30px;
}

.fill {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
}

.container-md {
    height: 100%;
}

.container-fluid {
    height: 100%;
}


.btn-group-nav {
    padding-top: 10%;
}

.btn-nav {
    opacity: 80%;
}

.extend-height {
    min-height: 50%;
}

.cc-button:hover {
    text-decoration: none;
}

.md-content img {
    max-width: 100%;
    height: auto;
}

.md-content .svg-scroll {
    overflow-x: auto;
}

.md-content pre code {
    overflow-x: auto;
}

.md-content .katex {
    overflow-x: auto;
}

.md-content .katex-display {
    overflow-x: auto;
}

.md-content .katex-display .katex {
    overflow-x: auto;
    padding: 0.1rem;
}
