{% extends "base.html" %}
{% block title %}{{ blog_name }} | Posts{% endblock %}
{% block head %}
<meta name="description" content="All Posts of Personal Blog: {{blog_name}}. Welcome to read and share your comments!">
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        },
        "HTML-CSS": {
            linebreaks: {automatic: true, width: "container"}
        },
        options: {
            skipHtmlTags: {'[-]': ['code', 'pre']}
        }
    };
</script>
{% endblock %}
{% block body %}
<h1> All Posts | Page {{page_number}} </h1>
<br/>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Search Post
</button>
<a class="btn btn-info" href="/lucky">
    Feel Lucky
</a>
<br/>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" id="search-input" class="form-control" placeholder="search" aria-label="search"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                onclick="redirectPost()">
                            Action
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="extend-height">
    {% if posts.len() > 0 %}
    <div class="columns">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                Post #{{post.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <div class="row p-2">
                    <p class="text-muted rounded col"><i class="material-icons">book</i>
                        Public Date: {{post.public_date.to_string() }}</p>
                    <p class="text-muted rounded col"><i class="material-icons">update</i>
                        Update Date: {{post.update_date.to_string() }}</p>
                </div>
                <pre class="p-2" style="overflow-wrap: break-word; white-space:pre-wrap;">{{post.get_abstract(256)}}</pre>
                <a href="/post/{{post.translate_title()}}.html" class="btn btn-primary">Read More</a>
                <a href="/raw/post/{{post.id}}" class="btn btn-success">Raw Content</a>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>
    {% else -%}
    <span> NO MORE~ </span>
    {% endif -%}
</div>
<ul class="pagination">
    {% if page_number > 0 %}
    <li class="page-item"><a class="page-link text-capitalize" href="/posts/{{page_number - 1}}"> PREVIOUS PAGE </a></li>
    {% endif %}
    {% if posts.len() > 0 %}
    <li class="page-item"><a class="page-link text-capitalize" href="/posts/{{page_number + 1}}"> NEXT PAGE </a></li>
    {% endif %}
</ul>
{% endblock %}

{% block appendix %}
<script>
    document.getElementById("nav-posts").classList.add("active");

    function redirectPost() {
        const realInput = document.getElementById("search-input");
        let form = document.createElement('form');
        document.body.appendChild(form);
        form.method = 'post';
        form.action = '/search';
        let input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'search';
        input.value = realInput.value;
        let number = document.createElement('input');
        number.type = 'hidden';
        number.name = 'page_number';
        number.value = '0';
        form.appendChild(input);
        form.appendChild(number);
        form.submit();
    }
</script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{% endblock %}