{% extends "base.html" %}
{% block title %}{{ blog_name }} | Posts{% endblock %}
{% block head %}
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        },
        "HTML-CSS": {
            linebreaks: {automatic: true, width: "container"}
        },
        options: {
            skipHtmlTags: {'[-]': ['code', 'pre']}
        }
    };
</script>
{% endblock %}
{% block body %}
<div class="extend-height">
    <h1> Search: {{search}} | Page {{page_number}} </h1>
    {% if posts.len() > 0 %}
    <div class="columns">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                Post #{{post.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <div class="row p-2">
                    <p class="text-muted rounded col"><i class="material-icons">book</i>
                        Public Date: {{post.public_date.to_string() }}</p>
                    <p class="text-muted rounded col"><i class="material-icons">update</i>
                        Update Date: {{post.update_date.to_string() }}</p>
                </div>
                <pre class="p-2" style="overflow-wrap: break-word; white-space:pre-wrap;">{{post.get_abstract(256)}}</pre>
                <a href="/post/{{post.translate_title()}}.html" class="btn btn-primary">Read More</a>
                <a href="/raw/post/{{post.id}}" class="btn btn-success">Raw Content</a>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>
    {% else -%}
    <span> NO MORE~ </span>
    {% endif -%}
</div>
<ul class="pagination">
    {% if page_number > 0 %}
    <li class="page-item">
        <button class="btn btn-flat" onclick="prev()"> Previous Page</button>
    </li>
    {% endif %}
    {% if posts.len() > 0 %}
    <li class="page-item">
        <button class="btn btn-flat" onclick="next()"> Next Page</button>
    </li>
    {% endif %}
</ul>
{% endblock %}
{% block appendix %}
<script>
    document.getElementById("nav-posts").classList.add("active");

    function redirectPost(pnumber) {
        let form = document.createElement('form');
        document.body.appendChild(form);
        form.method = 'post';
        form.action = '/search';
        let input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'search';
        input.value = '{{search|safe}}';
        let number = document.createElement('input');
        number.type = 'hidden';
        number.name = 'page_number';
        number.value = pnumber;
        form.appendChild(input);
        form.appendChild(number);
        form.submit();
    }

    function next() {
        redirectPost('{{page_number + 1}}')
    }

    function prev() {
        redirectPost('{{page_number - 1}}')
    }
</script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{% endblock %}
