{% extends "base.html" %}
{% block title %}{{ blog_name }} | Tag {{name}} {% endblock %}
{% block head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/highlight.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block body %}
    <h1> Tag: {{name}} | Page {{page_number}} </h1>
    {% if posts.len() > 0 %}
    <ul>
        {% for post in posts %}
        <li>
            <div class="post-box">
                <h3><a href="/post/{{post.title}}.html">{{post.title}}</a></h3>
                <p>{{post.date.to_string()}}</p>
                <pre>
                    <code class="language-markdown">
                        {{post.get_abstract()}}
                        more ...
                    </code>
                </pre>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else -%}
    <span> NO MORE~ </span>
    {% endif -%}
    <ul class="pagination">
        {% if page_number > 0 %}
        <li class="page-item"><a class="page-link" href="/tag/{{name}}/{{page_number - 1}}"> Previous Page </a></li>
        {% endif %}
        {% if posts.len() > 0 %}
        <li class="page-item"><a class="page-link" href="/tag/{{name}}/{{page_number + 1}}"> Next Page </a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block appendix %}
    <script>
        document.getElementById("nav-tags").classList.add("active");
    </script>
{% endblock %}
