{% extends "base.html" %}
{% block title %}{{ blog_name }} | Tag {{name}} {% endblock %}
{% block head %}
<meta name="description" content="Posts under category {{name}} of Personal Blog: {{blog_name}}. Welcome to read and share your comments!">
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        },
        "HTML-CSS": {
            linebreaks: {automatic: true, width: "container"}
        },
        options: {
            skipHtmlTags: {'[-]': ['code', 'pre']}
        }
    };
</script>
{% endblock %}
{% block body %}
<h1> Tag: {{name}} | Page {{page_number}} </h1>
<div class="extend-height">
    {% if posts.len() > 0 %}
    <div class="columns">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                Post #{{post.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <div class="row p-2">
                    <p class="text-muted rounded col"><i class="material-icons">book</i>
                        Public Date: {{post.public_date.to_string() }}</p>
                    <p class="text-muted rounded col"><i class="material-icons">update</i>
                        Update Date: {{post.update_date.to_string() }}</p>
                </div>
                <pre class="p-2" style="overflow-wrap: break-word; white-space:pre-wrap;">{{post.get_abstract()}}</pre>
                <a href="/post/{{post.translate_title()}}.html" class="btn btn-primary">Read More</a>
                <a href="/raw/post/{{post.id}}" class="btn btn-success">Raw Content</a>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>
    {% else -%}
    <span> NO MORE~ </span>
    {% endif -%}
</div>
<ul class="pagination">
    {% if page_number > 0 %}
    <li class="page-item"><a class="page-link" href="/tag/{{translated_name}}/{{page_number - 1}}"> PREVIOUS PAGE </a>
    </li>
    {% endif %}
    {% if posts.len() > 0 %}
    <li class="page-item"><a class="page-link" href="/tag/{{translated_name}}/{{page_number + 1}}"> NEXT PAGE </a></li>
    {% endif %}
</ul>
{% endblock %}
{% block appendix %}
<script>
    document.getElementById("nav-tags").classList.add("active");
</script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{% endblock %}
